<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <link rel="shortcut icon" href="{{ "/assets/imgs/favicon.ico" | prepend: site.baseurl | replace: '//', '/' }}"/>
  <link rel="alternate" type="application/rss+xml" title="Jonathan Dursi RSS" href="/feed.xml">

  <!-- critical css -->
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include critical.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  {% include mathjax.html %} <!-- mathjax -->
</head>
