/* text and background colors */
$light-text: #ffffff;
$dark-text: #666666;
$light-background: #ffffff;
$dark-background: #1a1a1a;


/* media queries breakpoints */
$widescreen: 1300px;
$desktop-laptop: 1024px;
$tablet: 768px;
$smaller-tablet: 600px;
$small-landscape: 480px;
$small-portrait: 380px;
