<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
  {% include main-nav.html %}
  {% include header.html %}

  <div class="pagewrap">
    {% if page.path contains 'index' %}
    <style> .main-header{display: none;}</style>

    {% if site.data.settings.home-banner == true %}
    <a href="{{ site.baseurl }}" class="home-banner">
      <img src={% if site.baseurl == "/" %}{{ site.data.settings.banner }}{% else %}{{ site.data.settings.banner | prepend: site.baseurl }}{% endif %} alt="home banner">
    </a>
    {% endif %}
    {% endif %}

    {% include sidebar.html %}

    {{ content }}

  </div>
  {% include footer.html %}

  <a href="javascript:void(0);" class="scroll-top" id="scroll" title="Scroll to Top" style="display: none;"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

  {% include links-and-scripts.html %}
  {% include analytics.html %}
</body>
</html>
