.main-header{
  width: 100%;
  height: 270px;
  background: url('/assets/imgs/cover.png') no-repeat center;
  background-size: cover;
  position: relative;
  margin-bottom: 2em;

  .header-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-content: center;
  }

  h1{
    align-self: center;
    color: $light-text;
    font-size: 2.8125rem;
    font-weight: 500;
    text-align: center;
  }
}
